@import '../../utils/variables.css';

.logoTitle {
	color: white;
	font-size: 24px;
	font-weight: 600;
}

.header {
	background-color: var(--colorBlue);
	width: 100%;
	margin-bottom: 30px;
}

.headerContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 50px;
	color: #fff;
}
